<html>
  <head>
    <title>{{{title}}}</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <link rel="stylesheet" type="text/css" href="http://lot23.com/play/enthusiasticpanther/style.css"/> 
    
    
      <script>
      alert('hi');
      </script>
  </head>
  <body>
    
  {{{body}}}
    
    
    
  </body>
</html>
